.users-container,
.dashboard-title {
  margin-left: 2rem;
  margin-right: 2rem;
}

.dashboard-subnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.dashboard-subnav__items {
  display: flex;
  margin-bottom: 1rem;
  z-index: 250;
}

.dashboard-subnav__item {
  border: 1px solid var(--lighterGrey);
}

.dashboard-subnav__item a {
  display: block;
  padding: 4px 5px;
  transition: var(--transition);
}

.dashboard-subnav__item a:hover {
  color: var(--lighterGrey);
}

.active a {
  color: var(--white);
}

.dashboard-search__form {
  display: flex;
  align-items: center;
  border: 1px solid var(--lighterGrey);
  z-index: 250;
}

.dashboard-search-input {
  border: none;
  padding: 2px;
}

.dashboard-search-input:focus {
  outline: none;
  border: 1px solid var(--lightGrey);
}

.dashboard-search-input::placeholder {
  font-size: 0.6rem;
  color: var(--lightGrey);
}

.dashboard-search-btn {
  border: 1px solid var(--extraLightGrey);
  background: var(--extraLightGrey);
  color: var(--darkGrey);
  padding: 2px 8px;
  /* font-size: 1.1rem; */
  cursor: pointer;
}

.dashboard-search-btn:hover {
  background-color: var(--button-bg-hover);
}

.dashboard-search-btn:active {
  background-color: var(--button-bg-hover);
  transform: translateX(1px);
}

/* Desktop Styles */
@media (min-width: 50rem) {
  table {
    font-size: 0.9rem;
  }

  aside {
    flex: 0.15;
    font-size: 0.9rem;
  }

  .dashboard-body {
    flex: 0.85;
  }

  .dashboard-subnav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard-subnav__items {
    margin-bottom: 0
  }

  .dashboard-search-input {
    padding: 4px;
    font-size: 1.1rem;
  }

  .dashboard-search-btn {
    padding: 3px 10px;
    font-size: 1.1rem;
  }
}