body {
  background-color: var(--lightGrey);
  margin: 0;
}

.main-nav__brand--container {
  display: flex;
  padding: 2rem;
}

.main-nav__brand {
  margin: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6.5rem;
}

.form-title {
  color: var(--darkGrey);
}

.signup-button,
.signin-button {
  width: 100%;
  background-color: var(--lightGreen);
  padding: 0.9rem;
  border: 0;
  color: var(--white);
}

.signup-button:hover,
.signup-button:active,
.signin-button:hover,
.signin-button:active {
  background-color: var(--lighterGreen);
}
