.container {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s linear;
}

.close-side {
  transform: translate(-18rem);
}

.open-side {
  transform: translate(0);
}

/* Sidebar Styles */
aside {
  width: 9rem;
  display: flex;
  flex-direction: column;
  /* flex: 0.2; */
  height: 100%;
  background-color: var(--dashboard);
  box-shadow: 1px 0 5px var(--lighterGrey);
  position: absolute;
  left: 0;
  z-index: 300;
  transition: all .3s ease-out;
}

.welcome-container {
  text-align: center;
  margin-top: 0;
  height: 8rem;
  padding: 1rem;
}

.close-sidebar {
  position: relative;
  left: 50%;
  top: 1%;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.welcome {
  color: var(--darkGrey);
  margin: rem 0;
}

.dashboard-nav__items {
  margin-top: 1rem;
  text-align: left;
}

.dashboard-nav__item a {
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: var(--lighterGrey);
  border-bottom: 1px solid rgba(255, 252, 252, 0.856);
  transition: var(--transition);
  cursor: pointer;
  display: block;
}

.dashboard-nav__item a:hover {
  opacity: 0.65;
}

.dashboard-nav__item a:active,
.active a {
  color: var(--white);
  background-color: var(--lightGrey)
}

.logout {
  position: absolute;
  bottom: 3%;
  align-self: center;
  border: none;
  background-color: var(--dashboard);
  cursor: pointer;
}

.logout,
.fa-power-off {
  color: var(--orange);
}

.logout:hover,
.fa-power-off:hover,
.logout:active,
.fa-power-off:active {
  color: var(--red);
}

/* Dashboard body styles; */
.dashboard-body {
  flex: 1;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--dashboard);
  padding: 3.2rem 0.5rem;
}

.menu-btn {
  z-index: 8;
  position: absolute;
  left: 30px;
  top: 16px;
  cursor: pointer;
  margin-right: auto;
}

.menu-btn .btn-line {
  width: 25px;
  height: 1.5px;
  margin: 0 0 5px 0;
  background: var(--darkGrey);
}

.instructions {
  text-align: center;
  line-height: 2;
  padding: 8px;
}

.rate {
  color: var(--orange);
}

.amount {
  color: var(--lighterGreen);
}

.duration {
  font-weight: bold;
}

.dashboard-card__container {
  display: flex;
  justify-content: space-evenly;
}

/* .dashboard-card {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: var(--lighterGrey);
  box-shadow: 1px 1px 1px var(--lightGrey), -1px -1px 1px var(--lightGrey);
  transition: var(--transition);
}

.dashboard-card:hover {
  box-shadow: 1px 1px 4px var(--lightGrey), -1px -1px 4px var(--lightGrey)
}

.dashboard-card__title {
  text-align: center;
  font-size: 0.1rem;
  font-weight: bolder;
} */

/* .acct-stat__verified,
.loan-stat__verified {
  padding-left: 25%;
} */

.dashboard-card__loan--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.dashboard-card__loan {
  width: 16.5rem;
  height: 5rem;
  margin: 0.5rem;
  font-size: 0.4rem;
  background-color: var(--lighterGrey);
}

.estimate {
  display: flex;
  align-items: center;
  height: 6rem;
  justify-content: center;
  padding: 2rem;
}

.estimate-title {
  border-right: 1px solid rgba(255, 252, 252, 0.856);
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.estimate div {
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 1rem;
}

.form {
  margin: 0 auto 1rem;
}

.loan-form {
  height: 15rem;
  width: 90%;
}

.loan-apply__btn--container {
  text-align: center;
  margin-bottom: 1rem;
}

.loan-apply__btn {
  color: var(--white);
  background-color: var(--lightGreen);
}

.loan-apply__btn:hover,
.loan-apply__btn:active {
  background-color: var(--lighterGreen);
}

@media (min-width: 48rem) {
  .container {
    font-size: 1rem;
  }

  .menu-btn {
    display: block;
    left: 50px;
    top: 52px;
  }

  .menu-btn .btn-line {
    height: 3px;
    margin: 0 0 5px 0;
  }

  aside {
    display: flex;
    width: 17rem;
  }

  .menu-btn {
    display: block;
    left: 50px;
    top: 52px;
  }

  .menu-btn .btn-line {
    height: 3px;
    margin: 0 0 5px 0;
  }

  aside {
    display: flex;
    width: 17rem;
  }

  .dashboard-card {
    width: 8rem;
    height: 8rem;
  }

  .dashboard-card__loan--container {
    margin-bottom: 2rem;
  }

  .dashboard-card__loan {
    width: 30rem;
    margin: 1rem;
  }

  .estimate {
    width: 25rem;
    height: 10rem;
    font-size: 0.8rem;
  }

  .estimate div {
    margin: 1.5rem;
  }
}