.reset-password_button {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
}

.reset-password_button:hover,
.reset-password_button:active {
  background-color: rgba(255, 139, 7, 0.829);
}

.form-link {
  float: left;
}
