.reset-password_button {
  width: 100%;
  color: var(--white);
  background-color: var(--darkGrey);
}

.reset-password_button:hover,
.reset-password_button:active {
  background-color: black;
}

.form-link {
  float: left;
}