.repayment-history {
  color: var(--darkGrey);
  margin-left: 1rem;
}

.repayment-history__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
}

.repayment-history__items {
  text-align: center;
  padding: 2rem;
}

.repayment-history__item {
  color: var(--lightGrey);
  width: 100%;
}

@media (min-width: 48rem) {
  .repayment-history {
    margin: 3rem 5rem;
  }
}