.repayment-history {
  color: var(--darkGrey);
  margin-left: 1rem;
}

.repayment-history__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.repayment-history__container>div {
  flex: 0 50%;
}

.repayment-history__items {
  text-align: center;
  padding: 2rem;
}

.repayment-history__item {
  color: var(--lightGrey);
  width: 100%;
}