.container {
  margin-top: 6.5rem;
}

fieldset {
  border: 0;
}


@media (min-width: 50rem) {
  body {
    overflow: hidden;
  }
  
  .container {
    margin-top: -2rem;
  }

  .form {
    min-width: 40rem;
  }

  .form-container{
    display: flex;
  }
}
