:root {
    /* --blue: #007bff;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --teal: #20c997;
    --cyan: #17a2b8; */
    --white: #fff;
    --myColor1: #025928;
    --myColor2: #3c8c30;
    --myColor3: #d96704;
    --myColor4: #818385;
    --myColor5: #303030;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --transition: all 0.2s ease-out;
    --button-bg-hover: rgba(177, 169, 169, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto 0;
    padding: 0;
    font-size: 0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    padding: 0.8rem 3rem;
    height: 2.5rem;
    background-color: rgba(177, 169, 169, 0.1);
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: var(--transition)
}

.button:hover {
    background-color: var(--button-bg-hover);
}

.button:active {
    background-color: var(--button-bg-hover);
    transform: translate(1px);
}

/* Nav Styles */
.main-nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--myColor1);
    /* background-color: #9ce609; */
}

.main-nav__brand {
    margin-right: auto;
}

.main-nav__brand img {
    height: 2.5rem;
}

.main-nav__items {
    list-style: none;
    display: flex;
    font-size: 0.8rem;
}

.main-nav__item {
    padding: 0.8rem;
    cursor: pointer;
    text-align: center;
    width: 6rem;
}

.main-nav__item:nth-child(1) {
    display: none;
}

.main-nav__item a {
    color: var(--white);
    border: 1px solid var(--white);
    padding: 0.8rem 0.8rem;
    transition: var(--transition);
}

.main-nav__item a:hover {
    background-color: var(--white);
    color: var(--myColor1);
}

.menu-btn {
    /* position: absolute; */
    z-index: 3;
    left: 35px;
    top: 30px;
    cursor: pointer;
    transition: var(--transition);
    margin-right: auto;
}

.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: var(--transition);
}

.menu-btn.close {
    transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Footer Styles */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--myColor5);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-top: 0rem;
    z-index: 1000;
}

.footer-links {
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer-link {
    margin: 0.1rem 0;
}

.footer-link a {
    color: white;
}

.footer-link a:hover,
.footer-link a:active {
    color: var(--myColor4);
}

@media (min-width: 40rem) {
    body {
        font-size: 1.2rem;
    }

    .menu-btn {
        display: none;
    }

    .main-nav__item:nth-child(1) {
        display: inline;
    }

    .footer-link {
        margin: 0 1rem;
    }

    .footer-links {
        flex-direction: row;
        justify-content: center;
    }
}